/* Base */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  text-align: center;
  margin: 0.5em 0;
}

/* Mapa */
#map {
  height: 90vh;
}

/* Tooltips Leaflet */
.leaflet-tooltip {
  font-size: 0.9rem;
}
